*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    
}
body{height: 1577.52px;
    width: 718px;
    background-color:rgb(255, 255, 255);}
     
a{
    text-decoration: none;
}
.container{
     
    width: 574.34px;
    height: 396px;
     
    margin-left: 73.5px;
    margin-top: 59.5px;
    margin-right: 70.2px;
      
    border-left:solid 0.1px #4786BF;
    position: relative;
    
}
.box{
      
    
    position: absolute;
    width:190px ;
    height: 10px;
    display: inline;
    margin-left: 28.5px;
    margin-top: 14px;
    font-size: 8px;
    margin-right: 252px;
}

input{
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: #FFFFFF;
}

#sec1{color: #3972A6;
    margin-right: 28px;
    margin-left: 0px;


}
#sec{
    color: #919191;
    margin-right: 28px;
}
#sec3{
    margin-right: 26px;
    color: #919191;
}
#sec4{
    margin-right: 0px;
    color: #919191;
     
}

.car1{
    
  
    position: absolute;
    width: 102.84px;
    height: 24px;
    
    background-color:  #336C9F;
    border-radius: 10px;
    text-align: center;
    font-size: 7px;
   
    line-height: 24px;
    margin-top: 7px;
    right: 0px;
    left: 470.5px;
     
}
.box3{position: absolute;
     top: 80px;
    margin-left: 21.5px;
    height: 99px;
    width: 204px;
    overflow: hidden;
     
     
      font-size: 27px;
      font-family:  bold italic;
      color: #3A72A6;
}
.box4{position: absolute;
    width: 17px;
    height: 1px;
   
    background-color: #FFB00D;
    border-radius: 20px;
    margin-left: 23px;
    top: 197.5px;

}
.box5{
    
    position:absolute;
    width: 215px;
    height: 32px;
    overflow:hidden;
    font-size: 9px;
     
   left: 22.5px;
   top: 217px;
   
   word-spacing: 1px;
    line-height: 16px;
   font-weight: lighter;
   

}

 
 
.car2{
        
    position: absolute;
    width: 102.84px;
    height: 24px;
     top: 290px;
    background-color:  #336C9F;
    border-radius: 10px;
    text-align: center;
    font-size: 7px;
    line-height: 24px;
   left: 28.5px;
     right: 264.66px;
     bottom: 83px;
   
     
}

.container2{
position: relative;
    height:504.5px  ;
width: 574.5px;
 
margin-top:  33.5px ;
margin-left: 71.5px;
margin-right: 72px;

}
.mid1{
    position: relative;
    position: absolute;
    width: 574px;
    height: 84px;
    margin-bottom: 31.5px;
     
}
.one1{
    position: absolute;
    width: 146px;
    height: 24px;
    font-size: 19px;
    left: 214px;
     color: #336C9F;
    
}

.one2{
    position: absolute;
    width: 117px;
    height: 0.4px;
    top: 47px;
    background-color: #336C9F;
    stroke-width: 0.4px;
}
.one3{
    position: absolute;
    right: 0px;
    width: 117px;
    height: 0.4px;
    top: 47px;
    background-color: #336C9F;
    stroke-width: 0.4px;

}

.one4{position: absolute;
    position: relative;
    left: 230px;
    top: 51px;
    width: 124px;
    height: 33px;
    font-size: 9px;
    color: #263D51;
}
 .some{
     position: absolute;
     left: 19px;
 }

 #cizgi{position: absolute;
     right: 69px;
     width: 17px;
     background-color: #FFB00D;
     stroke-width: 1px;
     height: 1px;
     top: 115px;
     right: 279px;
 }

.maintenance{
    position: relative;
    position: absolute;
    width: 172px;
    height: 214px;
  
    bottom: 101px;
    left: 0px;
}
.m1{
    left: 57px;
    top: 36px;
    width: 58px;
    height: 14px;
    position: absolute;
    font-size: 10px;
}
.m3{
    position: absolute;
    font-size: 7px;
    width: 108px;
    height: 32px;
   
    bottom: 27px;
    left:32px;
}


.Diagnostics{
    position: relative;
    position: absolute;
    width: 172px;
    height: 214px;
     
    bottom: 101px;
    left: 206px;
}
.d1{
    top: 36px;
    left: 60px;
    width: 52px;
    height: 14px;
    position: absolute;
    font-size: 10px;

}
.d3{

    bottom: 37px;
    left: 32px;
    position: absolute;
    font-size: 7px;
    width: 108px;
    height: 22px;
    overflow: hidden;
    line-height: 11px;

}
.Repairs{
    position: relative;
    position: absolute;
    width: 172px;
    height: 214px;
     
    bottom: 101px;
     right: 0px;
}
.r1{
    top: 36px;
    left: 70px;
    position: absolute;
    font-size: 10px;
}
.r3{

     bottom: 27px;
    left: 32px;
    width: 33px;
    height: 14px;
    position: absolute;
    font-size: 7px;
    width: 108px;
    height: 32px;

}



.cizgi2{position: absolute;
    right: 69px;
    width: 117px;
    background-color:#336C9F;
    stroke-width: 1px;
    height: 1px;
   bottom: 0px;
    right: 230px;
}




.container3{
    position: relative;
    height: 107px;
    width: 497px;
   
    margin-bottom: 270px;
    margin-top: 105.5px;
    margin-right: 87px;
    margin-left: 134px;
}
.box31{position: relative;
     position: absolute;
    margin-bottom: 6px;
    height: 101px;
    width: 42px;
     
    margin-right: 211px;
    top: 0px;
    bottom: 6px;
    left: 0px;
    right: 455px;
    
}

.box31>p{
    font-size: 8px;
}
 p:nth-of-type(1) { 
color: #000000;
}
.box31>a{
    font-size: 8px;
    color: #919191;
}
.b1{position: absolute;
    top: 0px;
}
.b2{position: absolute;
    top: 23px;
}
.b3{position: absolute;
    top: 46px;
}
.b4{position: absolute;
    top: 68px;
}
.b5{position: absolute;
    top: 91px;
}

.box32{
    position:absolute;
    left: 253px;
    width: 85px;
    height: 101px;
    
}
.box32>p{
    font-size: 8px;
}
p:nth-of-type(even){
    color: #053D6F;
}
.p1{position: absolute;
    top: 0px;
}
.p2{position: absolute;
    top: 37px;
}
.p3{position: absolute;
    top: 51px;
}
.p4{position: absolute;
    top: 76px;
}
.p5{position: absolute;
    top: 90px;
}


.box33{
    left: 384px;
    position: absolute;
    width: 113px;
    height: 97px;
    

}
 
.p6{
    font-size: 9px;
   color: #263D51;
}
.p7{
    font-size: 7px;
    color: #263D51;
}

#giris1
{
    position: absolute;
     background-color: #C8C8C8;
    width: 113px;
    height: 18px;
     bottom: 36px;
     
    top: 43px;
}
#giris2{
    margin-top: 12px;
    position: absolute;
    width: 102.84px;
    height: 24px;
    
    background-color:  #336C9F;
    border-radius: 10px;
    text-align: center;
    font-size: 7px;
   
    line-height: 24px;
     bottom: 0px;
     right: 5px;
     left: 5px;
    
}
.p6{position: absolute;
    top: 0px;
    left: 34px;
}
.p7{position: absolute;
    top: 23px;
    left: 27px;
}

